
.item {
    padding: 10px;
    display: inline-block;
    vertical-align: middle
}

.success {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: greenyellow;
    color: black;
}

input {
    margin-bottom: 4px;
}

input.contact {
    height: 30px;
}

input.comment {
    height: 60px;
}
